body {
  text-align: center;
}
.container {
  width: 100%;
  height: 550px;
  border: 1px solid #999;
  padding: 0;
}
.wrap {
  width: 600px;  
  height: 100%;
  position: relative;
  margin: 0 auto;
}
svg {
  border: 1px solid #999;
}
.box{
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  border: 5px solid lightblue;
  line-height: 50px;
  color: teal;
  font-size: 60px;
  overflow: hidden;
  background-size: 100% 100%;
}

.hit {
  color: red;
}
#input {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 0 0 2px teal;
  outline: none;
  font-size: 16px;
  padding: 0 28px;
  background: url("../images/xu.gif") no-repeat left top;
}

.tip {
  width: 900px;
  position: absolute;
  word-wrap: break-word;
  word-break:normal;
  top: 200px;
  left: 50%;
  margin-left: -450px;
  display: inline-block;
}