body
{
	/*background-image: url("../img/bg.png");*/
	background-color: black;
	overflow: hidden;
	background-size: cover;
}
#ctn
{
	position: absolute;
	left: 0;
	top: 0;
}
#time-box
{
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	width: 100px;
	top: 0;
	right: 0;
}
.button-out
{
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius:18px;
	top:16px;
}
#btn
{
	cursor: pointer;
}
.button-in
{
	background-color: rgba(255,20,0,1.0);
	position: absolute;
	width: 10px;
	height: 10px;
	left: 13px;
	top: 13px;
	border-radius:5px;
}
.time-line
{
	width: 8px;
	background-color: rgba(0, 192, 154, 1.0);
	position: absolute;
	top: 29px;
	left: 25px;
}
.time-text
{
	position: relative;
	color: white;
	font-size: 8px;
	left: 0;
	height: 20px;
}
#tag
{
	position: absolute;
	width: 60px;
	right: 7px;
	top: 0px;
	z-index: -1;
}
#to-real-time
{
	background-image: url("../img/message.png");
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	width: 81px;
	height: 159px;
}
#to-real-time:hover
{
	background-image: url("../img/message_click.png");
}